.thecountryquiz-logo{
    display: block;
    width: 85%;
    margin: auto;
    animation: scale 0.5s ease-out;
}
.home-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-buttons img{
    width: 5rem;
    animation: scale 0.5s 0.5s forwards;
    scale: 0%;
    cursor: pointer;
}
.home-buttons img:hover{
    transform: scale(110%);
}
@keyframes scale {
    0%{
        scale: 0%;
    }   
    100%{
        scale: 100%;
    }
}
@media screen and (min-width: 500px) {
    .thecountryquiz-logo{
        width: 20rem;
    }
}
.info-message{
    margin: auto 5%;
    text-align: center;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    border: 2px solid white;
    border-radius: 1rem;
}
.info-button{
    width: 5rem;
    margin: auto;
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}
.info-button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}