.fl1_item-container{
    height: 35rem;
    border: 2px solid black;
    display: block;
    box-sizing: border-box;
    text-align: center;
}
.fl1_question{
    font-size: 1.75rem;
    height: 4rem;
    line-height: 1;
    padding: 0 1rem;
}
.fl1_image-container{
    height: 14rem;
    border: 2px solid black;
    padding: 1rem;
}
.fl1_img{
    max-height: 14rem;
}
.fl1_choices{
    border: 2px solid black;
    height: 12.5rem;
}
.fl1_answers{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.fl1_answer{
    line-height: 1.75;
    font-size: 1.25rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 0.1em 0;
    height: 2.25rem;
    cursor: pointer;
    overflow: hidden;
}
.fl1_answer:hover{
    scale: 102.5%;
}
@media screen and (min-width: 500px) {
    .fl1_item-container{
        height: 31.5rem;
    }
    .fl1_question{
        height: 2rem;
    }
    .fl1_image-container{
        height: 13rem;
    }
    .fl1_img{
        max-height: 13rem;
    }
    .fl1_choices{
        height: 12rem;
    }
    .fl1_answers{
        margin: 0%;
        width: 100%;
        display: inline-block;
    }
    .fl1_answer{
        font-size: 1.5rem;
        display: inline-block;
        margin: 0.3rem;
        width: 40%;
        height: 3rem;
        padding: 1rem 0.5rem;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .fl1_answer::-webkit-scrollbar{
        display: none;
    }
}
@media screen and (max-width: 300px){
    .fl1_img{
        width: 240px;
    }
    .fl1_answer{
        overflow: hidden;
    }
}
@media screen and (max-height: 700px) {
    .fl1_item-container{
        height: 29.5rem;
    }
    .fl1_image-container{
        height: 11rem;
    }
    .fl1_img{
        max-height: 11rem;
    }
    .fl1_question{
        line-height: 0;
        height: 1.5rem;
    }
    
}